* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
 background-image: linear-gradient(rgba(153, 109, 235, 0.4), rgba(58, 16, 227, 0.363));
 height: 100vh;
 padding: 10px;
 position: relative;
}

form.changeP {
 display: flex;
 flex-direction: column;
 margin-top: 30px;
}

label{
font-weight: bold;
}

input{
 width: 30%;
 height: 30px;
 margin: 10px 0px;
}

button {
 width: fit-content;
 font-weight: bold;
 font-size: large;
 padding: 5px;
 border: 1px solid rgb(19, 1, 35);
 border-radius: 5px;
 background-color: blueviolet;
 margin-bottom: 50px;
 margin-top: 20px;
 color: whitesmoke;
}

.homeS {
 color: rgb(227, 221, 234);
 border: 1px solid #123;
 border-radius: 5px;
 padding: 5px;
 font-weight: bold;
 background-color: blueviolet;
 text-decoration: none;
 cursor: pointer;
 position: absolute;
 bottom: 10px;
}

button:hover, .homeS:hover {
 background-color: white;
 color: rgb(36, 3, 66);
 cursor: pointer;
 box-shadow: 0 0 20px rgba(3, 4, 5, 0.6);
}