
body {
 background-color: rgb(244, 242, 219);
}

form.edit {
 max-width: 400px;
 /* margin: 0 auto; */
}

input {
 display: block;
 width: 100%;
 padding: 5px 10px;
 border: 1px solid blueviolet;
 border-radius: 5px;
 background-color: rgb(213, 213, 212);
 margin-bottom: 5px;
}

button {
 width: 20%;
 font-weight: bold;
 padding: 5px 1px;
 border: 1px solid rgb(19, 1, 35);
 border-radius: 5px;
 background-color: rgb(142, 39, 115);
 margin-bottom: 50px;
 color: rgb(227, 221, 234);
}

body a.homeS {
 color: rgb(227, 221, 234);
 border: 1px solid #123;
 border-radius: 5px;
 padding: 5px;
 font-weight: bold;
 background-color: rgb(142, 28, 109);
 text-decoration: none;
}


div.main{
display: flex;
margin-left: 10px;
}


div.right {
 width: 794px;
 /* height: 1123px; */
 background-color: rgb(241, 242, 242);
 border: 1px solid #142b80;
 border-radius: 10px;
 margin-left: 50px;
 padding: 40px;
}

.contactInfoInner1 {
 display: flex;
 flex-direction: row;
 margin-top: -30px;
 margin-bottom: -30px;
}

.contactInfoInner2 {
 display: flex;
 flex-direction: row;
 margin-top: -30px;
 margin-bottom: -30px;
}

.contactInfo h5 {
 margin-right: 50px;
}

/* ABOUT ME */
div.aboutMe {
 display: flex;
 margin-top: 20px;
}

div.aboutMe h5 {
 width: 215px;
 color: #142b80;
 margin-right: 5px;
 text-align: right;
}

div.aboutMe p {
 margin-top: 30px;
 text-align: justify;
 border: 0.1px solid rgb(207, 206, 206);
 border-left: none;
 border-right: none;
 border-bottom: none;
 padding: 5px;
}

/* WORK EXPERIENCE */
div.experience {
 margin-top: 20px;
}

div.experience h5 {
 width: 143px;
 color: #142b80;
 margin-right: 5px;
 text-align: right;
}

div.experience h6 {
 font-size: small;
 margin-top: -10px;
 width: 143px;
 text-align: right;
}

div.experience .experienceInner {
 text-align: justify;
 padding: 5px;
 margin-left: 150px;
 margin-top: -65px;
}

div.experience .experienceInner .position {
 font-weight: bold;
 color: #142b80;
}

div.experience .experienceInner .employer {
 font-weight: bold;
 font-style: oblique;
}

div.experience .experienceInner ul {
 color: #0e33b8;
 margin-left: -22px;
}

/* EDUCATION */
div.education {
 margin-top: 20px;
}

div.education h5 {
 width: 143px;
 color: #142b80;
 margin-right: 5px;
 text-align: right;
}

div.education h6 {
 font-size: small;
 margin-top: -10px;
 width: 143px;
 text-align: right;
}

div.education .educationInner {
 text-align: justify;
 padding: 5px;
 margin-left: 150px;
 margin-top: -65px;
}

div.education .educationInner .degree {
 font-weight: bold;
 color: #142b80;
}

div.education .educationInner .institution {
 font-weight: bold;
 font-style: oblique;
}

div.education .educationInner ul {
 color: #0e33b8;
 margin-left: -22px;
}

/* PROFESSIONAL ORG */
div.profOrg {
 margin-top: 20px;
}

div.profOrg h5 {
 width: 143px;
 color: #142b80;
 margin-right: 5px;
 text-align: right;
}

div.profOrg h6 {
 font-size: small;
 margin-top: -10px;
 width: 143px;
 text-align: right;
}

div.profOrg .profOrgInner {
 text-align: justify;
 padding: 5px;
 margin-left: 150px;
 margin-top: -65px;
}

div.profOrg .profOrgInner .certification {
 font-weight: bold;
 color: #142b80;
}

div.profOrg .profOrgInner .organization {
 font-weight: bold;
 font-style: oblique;
}

/* OTHER EXPERIENCE */
div.otherExperience {
 margin-top: 20px;
}

div.otherExperience h5 {
 width: 143px;
 color: #142b80;
 margin-right: 5px;
 text-align: right;
}

div.otherExperience h6 {
 font-size: small;
 margin-top: -10px;
 width: 143px;
 text-align: right;
}

div.otherExperience .otherExperienceInner {
 text-align: justify;
 padding: 5px;
 margin-left: 150px;
 margin-top: -65px;
}

div.otherExperience .otherExperienceInner .position {
 font-weight: bold;
 color: #142b80;
}

div.otherExperience .otherExperienceInner .employer {
 font-weight: bold;
 font-style: oblique;
}

div.otherExperience .otherExperienceInner ul {
 color: #0e33b8;
 margin-left: -22px;
}

/* SKILLS */
div.skills {
 margin-top: 20px;
}

div.skills h5 {
 width: 143px;
 color: #142b80;
 margin-right: 5px;
 text-align: right;
}

div.skills .skillsInner {
 text-align: justify;
 padding: 5px;
 margin-left: 150px;
 margin-top: -65px;
 display: inline-block;
 inline-size: 1px;
}

/* PROJECT */
div.project {
 margin-top: 20px;
}

div.project h5 {
 width: 143px;
 color: #142b80;
 margin-right: 5px;
 text-align: right;
}

div.project h6 {
 font-size: small;
 margin-top: -10px;
 width: 143px;
 text-align: right;
}

div.project .projectInner {
 text-align: justify;
 padding: 5px;
 margin-left: 150px;
 margin-top: -65px;
}

div.project .projectInner .title {
 font-weight: bold;
 color: #142b80;
}

div.project .projectInner .details {
 font-weight: bold;
}

/* REFEREES */
div.referee {
 margin-top: 20px;
 display: flex;
}

div.referee h5 {
 width: 143px;
 color: #142b80;
 margin-right: 5px;
 text-align: right;
}

div.referee .refereeInner {
 text-align: justify;
 padding: 5px;
 margin-left: 0;
 margin-right: 50px;
 margin-top: 25px;
}

div.referee .refereeInner .name {
 font-weight: bold;
 color: #142b80;
}

div.referee .refereeInner .phone {
 font-weight: bold;
}