* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
  background-image: linear-gradient(rgba(153, 109, 235, 0.2), rgba(58, 16, 227, 0.363));
  padding: 15px;
}

header {
 display: flex;
 justify-content: space-between;
 margin-bottom: 50px;
 align-items: center;
}

.titleImage {
  width: 50px;
  margin-right: 10px;
}

.leftTop{
  display: flex;
  justify-content: center;
}

a{
 text-decoration: none;
}

.myHome {
 font-size: 20px;
 color: rgb(227, 221, 234);
 border: 1px solid #123;
 border-radius: 5px;
 padding: 5px;
 font-weight: bold;
 background-color: blueviolet;
}

header nav {
  display: flex;
  gap: 15px
}

.editP {
  color: rgb(227, 221, 234);
  border: 1px solid #123;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  background-color: blueviolet;
}

.logoutButton {
  color: rgb(227, 221, 234);
  border: 1px solid #123;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  background-color: blueviolet;
  cursor: pointer;
}

.myHome:hover, .editP:hover, .logoutButton:hover{
  background-color: white;
  color: rgb(36, 3, 66);
  cursor: pointer;
  box-shadow: 0 0 20px rgba(3, 4, 5, 0.6);
}

.welcome {
 background-color: blueviolet;
 color: aliceblue;
 font-family: Georgia, 'Times New Roman', Times, serif;
 padding: 15px;
 border-radius: 5px;
 margin-bottom: 10px;
 display: flex;
 justify-content: space-between;
}

.role {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  /* position: absolute; */
}

.roleText{
  background-color: rgb(45, 3, 85);
  border: 2px solid rgb(244, 227, 227);
  border-radius: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  color: rgb(249, 247, 247);
  text-align: center;
  margin-top: -15px;
  padding: 15px;
}

.downloadBtn{
  background-color: rgb(83, 12, 150);
  color: whitesmoke;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #142b80;
  border-radius: 5px;
  cursor: pointer;
}

.downloadBtn:hover{
  background-color: whitesmoke;
  color: #142b80;
  box-shadow: 0 0 20px rgba(3, 4, 5, 0.6);
}

.container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.intro {
  font-style: oblique;
  font-size: large;
  font-weight: 800;
  margin-top: 60px;
  /* background-color: rgb(197, 150, 241); */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(3, 4, 5, 0.6);
  width: 30%;
  height: max-content;
  padding: 15px;
}

.abtText{
  /* box-shadow: 0 0 20px rgba(3, 4, 5, 0.6); */
  font-weight: bolder;
  background-color: blueviolet;
  color: whitesmoke;
  padding: 5px 10px;
  border-radius: 5px;
}

.introAbout{
  width: 100%;
  text-align: justify;
}

.resumeView {
  margin: 0 auto;
  background-color: rgb(241, 242, 242);
  padding: 35px;
  width: 794px;
  border: 1px solid #142b80;
  /* height: 1123px; */
}

#head{
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(3, 4, 5, 0.6);
  padding: 10px;
  /* background-color: #142b80;
  color: white; */
}

.fullName{
  margin-bottom: 20px;
}

/* .contactInfo{
  background-color: red;
} */

h5 {
 margin-right: 50px;
 margin-bottom: 10px;
}

.contactInfoInner1{
  display: flex;
}
.contactInfoInner2{
  display: flex;
}

hr {
  box-sizing: content-box;
  width: 77%;
  border: 1px solid #8b9fe8;
  margin: auto;
  margin-right: 0;
  margin-top: 5px;
}


/* ABOUT ME */
div.aboutMe {
 display: flex;
 margin-top: 20px;
}

#abtMe{
  color: #142b80;
  text-align: right;
  width: 20%;
  margin-right: 3%;
}

#abtMeText{
  margin-top: 5px;
  text-align: justify;
  width: 77%;
}

/* WORK EXPERIENCE */
.date{
  font-size: smaller;
  width: 20%;
  margin-right: 3%;
  font-family: 'Times New Roman', Times, serif;
  text-align: right;
}

.location{
  margin-bottom: 5px;
}

ul{
  color: #0e33b8;
  margin-left: 20px;
}

.taskBtn{
  margin-top: 10px;
}

div.experience {
  margin-top: 20px;
}

.expTitle{
  color: #142b80;
  text-align: right;
  width: 20%;
  margin-right: 3%;
}

.expBox{
  display: flex;
}

/* .vertical line{
  border-left: 1px solid black;
  height: 20px;
} */

.experienceInner{
  width: 77%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.position{
  font-weight: bold;
  color: #142b80;
  margin-bottom: 10px;
}

.employer{
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 5px;
}


/* EDUCATION */
div.education {
  margin-top: 20px;
}

.eduTitle{
  color: #142b80;
  text-align: right;
  width: 20%;
  margin-right: 3%;
}

.educationInner{
  width: 77%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.degree{
  font-weight: bold;
  color: #142b80;
  margin-bottom: 10px;
}

.institution{
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 5px;
}


/* PROFESSIONAL ORG */
div.profOrg {
  margin-top: 20px;
}

.progOrgTitle{
  color: #142b80;
  text-align: right;
  width: 20%;
  margin-right: 3%;
}

.profOrgInner{
  width: 77%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.certification{
  font-weight: bold;
  color: #142b80;
  margin-bottom: 10px;
}

.organization{
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 5px;
}

.website{
  font-style: italic;
  color: #142b80;
  font-size: smaller;
}

/* OTHER EXPERIENCE */
div.otherExperience {
  margin-top: 20px;
}

.othExpTitle{
  color: #142b80;
  text-align: right;
  width: 20%;
  margin-right: 3%;
}

.otherExperienceInner{
  width: 77%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.position{
  font-weight: bold;
  color: #142b80;
  margin-bottom: 10px;
}

.employer{
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 5px;
}


/* SKILLS */
div.skills {
  margin-top: 20px;
  display: flex;
}

.skillTitle{
  color: #142b80;
  text-align: right;
  width: 20%;
  margin-right: 3%;
}

.skillContent{
  width: 77%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skillsInner{
  width: 33%;
  margin-bottom: 5px;
}

.skillText{
  margin-right: 10px;
  font-size: small;
  font-weight: bold;
  /* use word-wrap or overflow-wrap */
  overflow-wrap: break-word;
}



/* PROJECT */
div.project {
  margin-top: 20px;
}

.projectTitle {
  color: #142b80;
  text-align: right;
  width: 20%;
  margin-right: 3%;
}

.projectInner {
  width: 77%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.title {
  font-weight: bold;
  color: #142b80;
  margin-bottom: 10px;
}

.details {
  font-weight: bold;
  margin-bottom: 5px;
}

.link {
  font-style: italic;
  color: #142b80;
  font-size: smaller;
}
.projectDetail{
  width: 400px;
  height: 100px;
  background-color: red;
  overflow-wrap: break-word;
  resize: vertical;
}


/* REFEREES */
div.referee {
  margin-top: 20px;
  display: flex;
}

.refTitle {
  color: #142b80;
  text-align: right;
  width: 20%;
  margin-right: 3%;
}

.refContent {
  width: 77%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.refereeInner{
  width: 33%;
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
  color: #142b80;
  margin-bottom: 10px;
}

.phone {
  font-weight: bold;
  margin-bottom: 5px;
}


/* Others */
.hiddenForm{
  display: none;
}

.editForm{
  max-width: 77%;
  margin: auto;
  margin-right: 0;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(228, 221, 221);
  font-weight: bold;
}

input{
  margin-bottom: 15px;
  margin-left: 10px;
}

textarea{
  height: 150px;
  width: 350px;
  margin-top: 10px;
}

.editBtn{
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
  background-color: #142b80;
  color: aliceblue;
  font-weight: bolder;
}

.editBtn:hover{
  cursor: pointer;
  background-color: aliceblue;
  color: #142b80;
  font-weight: bolder;
}

.deleteBtn{
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: #142b80;
  color: aliceblue;
  font-weight: bolder;
}

.deleteBtn:hover{
  cursor: pointer;
  background-color: aliceblue;
  color: #142b80;
  font-weight: bolder;
}


@media screen and (max-width: 680px) {
 .myHome{
  display: none;
 }

 .leftTime, .rightTime {
  font-weight: bold;
  font-size: medium;
 }

 .role{
  padding-right: 15px;
 }

 .downloadBtn{
  margin-right: -10px;
 }

 .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  margin-top: -40px;
  padding-top: 0;
 }

 .intro{
  /* margin-top: 5px;
  width: 90%; */
  display: none;
 }

 .resumeView {
  width: 95%;
 }

 .contactInfoInner1, .contactInfoInner2{
  display: flex;
  flex-direction: column;
 }

}

@media screen and (max-width: 1024px){
 .intro{
 /* margin-right: 20px; */
 display: none;
 }

  .contactInfoInner1, .contactInfoInner2{
  display: flex;
  flex-direction: column;
 }

}

@media screen and (min-width: 1024px) {
  .intro {
    margin-right: 20px;
  }
}