* {
 box-sizing: border-box;
}


body {
 color: #222;
 background-color: rgb(244, 242, 219);
}


header {
 display: flex;
 justify-content: space-between;
 margin-top: 15px;
 margin-bottom: 50px;
 align-items: center;
}

header a {
 text-decoration: none;
 color: inherit;
}

header a.myHome {
 font-size: 1.5rem;
 color: rgb(227, 221, 234);
 border: 1px solid #123;
 border-radius: 5px;
 padding: 5px;
 font-weight: bold;
 background-color: #410066;
}

header nav {
 display: flex;
 gap: 15px
}

div.welcome {
 background-color: #4D2177;
 color: aliceblue;
 font-family: Georgia, 'Times New Roman', Times, serif;
 padding: 0.1%;
 border-radius: 5px;
 margin-bottom: 5px;
 display: flex;
 justify-content: space-between;
 /* clear: both; */
}

/* div.welcome h3.leftTime {
 float: left;
}

div.welcome h3.rightTime {
 float: right;
} */


div.role {
  background-color: #624872;
  border: 1px solid rgb(244, 227, 227);
  border-radius: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  color: rgb(249, 247, 247);
  text-align: center;
  margin-right: 80%;
  padding: 1%;
  position: absolute;
}

div.tool {
 background-color: #492F59;
  border: 1px solid rgb(244, 227, 227);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  color: rgb(249, 247, 247);
  text-align: right;
  padding: 1%;
}

header nav a.editP, a.usersP {
 color: rgb(227, 221, 234);
 border: 1px solid #123;
 border-radius: 5px;
 padding: 5px;
 font-weight: bold;
 background-color: #472F3B;
}

button.logoutButton {
 color: rgb(227, 221, 234);
 border: 1px solid #123;
 border-radius: 5px;
 padding: 5px;
 font-weight: bold;
 background-color: #25191f;
 cursor: pointer;
}

p {
 font-style: oblique;
 font-size: large;
 font-weight: 800;
}