<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Portfolio</title>
 <link rel="icon" href="../images/Title-Logo.png">
 <link rel="stylesheet" href="/signup.css">
</head>

<body>

 <h2>User's Edit-Page</h2>
 <form class="signup" action="/users/profile/edit" method="post">
  <input type="text" name="firstName" placeholder="First Name">
  <input type="text" name="lastName" placeholder="Last Name">
  <input type="text" name="otherName" placeholder="Other Name">
  <input type="text" name="phone" placeholder="Phone">
  <input type="text" name="links" placeholder="Links">
  <input type="text" name="aboutMe" placeholder="About Me">
  <input type="text" name="workExperience" placeholder="Work Experience">
  <input type="text" name="otherExperience" placeholder="Other Experience">
  <input type="text" name="educationAndTraining" placeholder="Education and Training">
  <input type="text" name="professionalOrganization" placeholder="Professional Organization">
  <input type="text" name="skills" placeholder="Skills">
  <input type="text" name="projects" placeholder="Projects">
  <input type="text" name="referees" placeholder="Referees">
  <button type="submit">Save Changes</button>
 </form>
 <br>
 <a class="homeS" href="/users/profile">Back Home</a>
 <a class="homeS" href="/users/settings">Change Password</a>

</body>

</html>